<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
    <head>
        <title>Graphe</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    </head>
    <body>
        <p>
            <form method="POST" action="{% url 'shutter_all_toggle' %}">
                {% csrf_token %}
                <button>Toggle</button>
            </form>
        </p>
        <ul>
            {% for attribute in attribute_list %}        
                <li><a href="{% url 'chart' attribute.pk %}">{{ attribute }}</a></li>
            {% endfor %}
        </ul>
        <p>
            <a href="{% url 'temperature_chart' %}">Températures</a>
        </p>
    </body>
</html>
