[Unit]
Description=Domotique
After=network.target

[Service]
Type=simple
Restart=always
User=pi
Group=pi
WorkingDirectory=/home/pi/djomotic
ExecStart=env/bin/python manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target