[Unit]
Description=Domotique
After=network.target

[Service]
Type=simple
Restart=always
User=pi
Group=pi
WorkingDirectory=/data/djomotic
ExecStart=/data/djomotic/env/bin/python manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=multi-user.target